body {
    background-image: url(https://th.bing.com/th/id/R.5868ab19de80b30bf1c7a06f590db2f7?rik=pwGAHzvRQnYwVg&riu=http%3a%2f%2fwww.baltana.com%2ffiles%2fwallpapers-2%2fColorful-Sky-Desktop-Wallpaper-04118.jpeg&ehk=%2bQKYb2ZXJ%2bMvxlnM6s9pNzq3nIXiebF7STLTtIr%2bKWg%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
}
.project16 {
    width: 100px; padding-inline-start: 10px;
    border-radius: 50%;
}
table, th, td {
    border:1px solid black;
}
.Thesis{
    width: 500px;
    border: solid;
    border-color: black;
    background-color: skyblue;
    color: black;
}
